<div class="container">
    <div class="pos-f-t">
        <nav class="navbar navbar-light navbar-expand-sm bg-light mb-2">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand">Memo Service</a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/About">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/user/login" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Memos</a>
                        <div class="dropdown-menu">
                            <a href="/memos" class="dropdown-item">Memos</a>
                            <a href="/memos/add" class="dropdown-item">Add Memo</a>
                        </div>
                    </li>
                </ul> 
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div class="collapse mb-2" style="margin-top: -10px;" id="navbarToggleExternalContent">
            <div class="bg-light">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                <a href="/user/login" class="nav-link">Login</a>
                <a href="/memos" class="nav-link">Memos</a>
                <a href="/memos/add" class="nav-link">Add Memo</a>
                <a class="nav-link" href="/About">About</a>
            </div>
        </div>
        <span class="mb-2"></span>
    </div>
</div>