<div class="container">
  <div class="pos-f-t">
    <nav class="navbar navbar-light navbar-expand-sm bg-light mb-2">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand">Memo Service</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/']">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="isLoggedIn">
              <a [routerLink]="['/user/logout']" class="nav-link" (click)="logout()">Logout</a>
            </li>
            <li class="nav-item dropdown" *ngIf="isLoggedIn">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Memos</a>
              <div class="dropdown-menu">
                <a [routerLink]="['/memos']" class="dropdown-item">Memos</a>
                <a [routerLink]="['/memos/add']"class="dropdown-item">Add Memo</a>
              </div>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn">
              <a [routerLink]="['/user/login']" class="nav-link">Login</a>
            </li>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" (click)="collapse=!collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse" (click)="collapse = false" [hidden]="collapse" *ngIf="collapse" style="margin-top: 10px;">
        <ul class="navbar-nav mr-auto bg-light">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/user/logout']" class="nav-link" (click)="logout()" *ngIf="isLoggedIn">Logout</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/memos']" class="nav-link" *ngIf="isLoggedIn">Memos</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/memos/add']" class="nav-link" *ngIf="isLoggedIn">Add Memo</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/user/login']" class="nav-link" *ngIf="!isLoggedIn">Login</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
