<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <link type="text/css" rel="stylesheet" href="css/style">
        <title>{{title}}</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>